@each $size, $value in $spacers {
  .top-#{$size} {
    top: $value;
  }
  .right-#{$size} {
    right: $value;
  }
  .bottom-#{$size} {
    bottom: $value;
  }
  .left-#{$size} {
    left: $value;
  }
}

@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    @each $size, $value in $spacers {
      .top#{$infix}-#{$size} {
        top: $value;
      }
      .right#{$infix}-#{$size} {
        right: $value;
      }
      .bottom#{$infix}-#{$size} {
        bottom: $value;
      }
      .left#{$infix}-#{$size} {
        left: $value;
      }
    }
  }
}

.center {
  left: 50%;
  transform: translateX(-50%);
}
