@include media-breakpoint-up(xl) {
	.container-xl {
		max-width: 1260px;
	}
}
@include media-breakpoint-up(lg) {
	.container-lg {
		max-width: 960px;
	}
}
@include media-breakpoint-up(md) {
	.container-md {
		max-width: 720px;
	}
}
@include media-breakpoint-up(sm) {
	.container-sm {
		max-width: 540px;
	}
}
