@include media-breakpoint-down(xs) {
	.pagination {
		flex-direction: row;
		justify-content: center;
		align-items: center;
		.page-item .page-link {
			margin-top: 0.25rem;
			margin-bottom: 0.25rem;
		}
	}
}
