// Fixed-plugin

@mixin transform-translate-y-fixed-plugin($value) {
	-webkit-transform: translate3d(0, $value, 0) !important;
	-moz-transform: translate3d(0, $value, 0) !important;
	-o-transform: translate3d(0, $value, 0) !important;
	-ms-transform: translate3d(0, $value, 0) !important;
	transform: translate3d(0, $value, 0) !important;
}

.fixed-plugin {
	display: none;
	position: fixed;
	right: 12%;
	width: 30px;
	background: transparent;
	z-index: 1031;
	border-radius: 8px 0 0 8px;
	text-align: center;
	bottom: 10%;
}
@media (min-width: 992px) {
	.fixed-plugin {
		display: block;
	}
}
@media (min-width: 1040px) {
	.fixed-plugin {
		display: block;
	}
}
.fixed-floating-menu {
	right: 50px;
	left: auto !important;
	top: -52px !important;
	width: 290px;
	border-radius: 10px;
	padding: 0 10px;
	box-shadow: none;
}

.fa-circle-thin {
	color: #ffffff;
}

.fixed-floating-menu li {
	display: block;
	padding: 15px 2px;
	width: 50%;
	float: left;
}

li.button-container {
	width: 80%;
	height: 35px;
	min-height: inherit;
}

li.button-container {
	height: 50px;
}

//
// Timeline
//

.timeline {
	position: relative;

	// Axis

	&:before {
		content: "";
		position: absolute;
		top: 0;
		left: 1rem;
		height: 100%;
		border-right: $timeline-axis-width solid $timeline-axis-color;
	}
}

// Axis style variations

[data-timeline-axis-style="dashed"] {
	&:before {
		border-right-style: dashed !important;
	}
}

[data-timeline-axis-style="dotted"] {
	&:before {
		border-right-style: dotted !important;
	}
}

// Timeline blocks

.timeline-block {
	position: relative;
	margin: 2em 0;

	&:after {
		content: "";
		display: table;
		clear: both;
	}

	&:first-child {
		margin-top: 0;
	}

	&:last-child {
		margin-bottom: 0;
	}
}

// Timeline steps

.timeline-step {
	position: absolute;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	left: 0;
	width: 33px;
	height: 33px;
	border-radius: 50%;
	// background: $timeline-step-bg;
	// border: $timeline-step-border-width solid $timeline-step-border-color;
	text-align: center;
	transform: translateX(-50%);
	font-size: 1rem;
	font-weight: $font-weight-bold;
	z-index: 1;

	svg,
	i {
		line-height: 1.4;
	}
}

.timeline-step-icon {
	background: $white;
	border: $timeline-step-border-width solid $timeline-step-border-color;
}

.timeline-step-xs {
	width: 17px;
	height: 17px;
	font-size: 0.75rem;
}

.timeline-step-sm {
	width: 23px;
	height: 23px;
	font-size: 0.75rem;
}

.timeline-step-lg {
	width: 47px;
	height: 47px;
	font-size: 1.75rem;
}

// Timeline content and body
.timeline-content {
	position: relative;
	margin-left: 60px;
	padding-top: 0.5rem;
	position: relative;
	top: -6px;

	&:after {
		content: "";
		display: table;
		clear: both;
	}
}

.timeline-body {
	padding: 1.5rem;
}

@include media-breakpoint-up(lg) {
	.timeline {
		&:before {
			left: 50%;
			margin-left: -2px;
		}
	}

	.timeline-step {
		left: 50%;
	}

	.timeline-content {
		width: 38%;
	}

	.timeline-body {
		padding: 1.5rem;
	}

	.timeline-block:nth-child(even) .timeline-content {
		float: right;
	}

	// Timeline axis colors
	@each $color, $value in $theme-colors {
		[data-timeline-axis-color="#{$color}"] {
			&:before {
				border-color: $value;
			}
		}
	}
}

// One side timeline
.timeline-one-side {
	&:before {
		left: 1rem;
	}

	.timeline-step {
		left: 1rem;
	}

	.timeline-content {
		width: auto;
	}

	@include media-breakpoint-up(lg) {
		.timeline-content {
			max-width: 35rem;
		}
		.time-line-text-length {
			width: max-content;
			max-width: 36rem;
		}
	}
}

.timeline-one-side .timeline-block:nth-child(even) .timeline-content {
	float: none;
}

// flex
@each $breakpoint in map-keys($grid-breakpoints) {
	@include media-breakpoint-up($breakpoint) {
		$infix: breakpoint-infix($breakpoint, $grid-breakpoints);

		.justify-content#{$infix}-start {
			justify-content: flex-start !important;
		}
		.justify-content#{$infix}-end {
			justify-content: flex-end !important;
		}
		.justify-content#{$infix}-center {
			justify-content: center !important;
		}
		.justify-content#{$infix}-between {
			justify-content: space-between !important;
		}
		.justify-content#{$infix}-around {
			justify-content: space-around !important;
		}
	}
}

// width
@each $breakpoint in map-keys($grid-breakpoints) {
	@include media-breakpoint-up($breakpoint) {
		$infix: breakpoint-infix($breakpoint, $grid-breakpoints);
		.width#{$infix}-max-content {
			width: max-content !important;
		}
	}
}

// Video
.container-video {
	padding: 0;
	align-items: center;
}
@media (min-width: 359px) {
	.container-video {
		max-width: 767px;
		// top: 0px;
		min-height: 40vh;
		width: 100%;
	}
}
@media (min-width: 768px) {
	.container-video {
		display: block;
		max-width: 991px;
		top: 0px;
	}
}
@media (min-width: 992px) {
	.container-video {
		display: block;
		max-width: 1039px;
		top: 0px;
	}
}
@media (min-width: 1040px) {
	.container-video {
		display: block;
		max-width: 1980px;
		top: -60px;
	}
}

@media (min-width: 576px) {
	.display-mobile-none {
		display: none;
	}
}
@media (min-width: 768px) {
	.display-mobile-none {
		display: none;
	}
}
@media (min-width: 992px) {
	.display-mobile-none {
		display: block;
	}
}
@media (min-width: 1040px) {
	.display-mobile-none {
		display: block;
	}
}

.to-change-background-of {
	background: #eee;
	position: relative;
	background-size: cover;
	// background-position: center center/
	width: 100%;
	height: 100%;
	z-index: -1;
}

@media (min-width: 576px) {
	.text-size-custom {
		font-size: $font-size-base * 1.5 !important;
	}
}
@media (min-width: 768px) {
	.text-size-custom {
		font-size: $font-size-base * 1.5 !important;
	}
}
@media (min-width: 992px) {
	.text-size-custom {
		font-size: $font-size-base * 2.5 !important;
	}
}
@media (min-width: 1040px) {
	.text-size-custom {
		font-size: $font-size-base * 2.5 !important;
	}
}
