$blue: #5d4ad2 !default; // 기존 #007bff 에서 #5d4ad2로 변경
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #e83e8c !default;
$red: #dc3545 !default;
$orange: #fd7e14 !default;
$yellow: #ffc107 !default;
$green: #28a745 !default;
$teal: #20c997 !default;
$cyan: #17a2b8 !default;
$white: #fff !default;

$colors: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$colors: map-merge(
	(
		"blue": $blue,
		"indigo": $indigo,
		"purple": $purple,
		"pink": $pink,
		"red": $red,
		"orange": $orange,
		"yellow": $yellow,
		"green": $green,
		"teal": $teal,
		"cyan": $cyan,
		"white": $white,
		"gray": #55626f,
		"gray-dark": #384048,
	),
	$colors
);

$default: #000a68 !default;
$primary: #5d4ad2 !default;
$secondary: #f4f5f7 !default;
$success: #47bc62 !default;
$info: #3bd6ce !default;
$info2: #a498f0 !default;
$info3: #e65d7c !default;
$warning: #fc693a !default;
$danger: #dc0032 !default;
$light: #f8f9fa !default;
$dark: #384048 !default;

$theme-colors: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$theme-colors: map-merge(
	(
		"default": $default,
		"primary": $primary,
		"secondary": $secondary,
		"success": $success,
		"info": $info,
		"info2": $info2,
		"info3": $info3,
		"warning": $warning,
		"danger": $danger,
		"light": $light,
		"dark": $dark,
	),
	$theme-colors
);

$nice-dates-color-primary: $primary;
$nice-dates-color-gray-dark: #333;
$nice-dates-color-gray: #999;
$nice-dates-color-gray-light: #ddd;
$nice-dates-color-accent: $nice-dates-color-gray-dark;
$nice-dates-font-size-small: 12px;
$nice-dates-font-size-base: 14px;
$nice-dates-font-size-big: 16px;
$nice-dates-cell-width: calc(100% / 7);
